@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3><i class="fa fa-flag-checkered fa-lg"></i> Current Leaders <i class="fa fa-flag-checkered fa-lg"></i></h3>
<ol class="round">
  <li class="one">
    <h5><i class="fa fa-trophy fa-2x gold"></i> Current First Place</h5>
    <p>00:45:00</p>
  </li>
  <li class="two">
      <h5><i class="fa fa-trophy fa-lg silver"></i> Current Second Place</h5>
    <p>00:50:00</p>
  </li>
  <li class="three">
    <h5><i class="fa fa-trophy bronze"></i> Current Third Place</h5>
    <p>00:55:00</p>
  </li>
  <li class="four">
    <h5>Fourth place</h5>
    <p>01:00:00</p>
  </li>
  <li class="five">
    <h5> <i class="fa fa-tachometer"></i></h5>
    <p>01:05:00</p>
  </li>
</ol>
