@{
    ViewBag.Title = "Let's Race!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper" data-bind="with: CurrentRace">
          <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2 data-bind="visible: !IsActive()">@ViewBag.Message</h2>
            <h2 id="raceStatus" data-bind="visible: IsActive()">We have a race!</h2>
          </hgroup>
          <!-- ko if: IsActive() -->
          <div id="raceDetails">
            <ul class="home-current-racers" data-bind="foreach: Drivers">
              <li>
                <i class="fa fa-tachometer" data-bind="style: {color: $parent.State() }"></i> 
                In lane <span data-bind="text: Lane"></span>: 
                <span data-bind="text: Name" class="home-driver-name"></span> 
                is driving car number <span data-bind="text: Car" class="home-car-name"></span>
              </li>
            </ul>
          </div>
          <!-- /ko -->
        </div>
    </section>
}
<h3 style="text-align: center;"><i class="fa fa-flag-checkered fa-lg"></i> Current Leaders <i class="fa fa-flag-checkered fa-lg"></i></h3>

<div data-bind="foreach:Leagues" class="clear-fix">
  <div data-bind="style: { width: $root.getWidth()}" class="float-left home-racer-container">
    <h4 data-bind="text: Name"></h4>
    <ul data-bind="foreach: Racers" class="home-racer-list">
      <li>
        <h5>
          <!-- ko if: $index() === 0 -->
          <i class="fa fa-trophy fa-2x gold"></i>
          <!-- /ko -->
          <!-- ko if: $index() === 1 -->
          <i class="fa fa-trophy fa-lg silver"></i>
          <!-- /ko -->
          <!-- ko if: $index() === 2 -->
          <i class="fa fa-trophy bronze"></i>
          <!-- /ko -->
          <span data-bind="text: FormattedName()"></span>
        </h5>
        <p data-bind="text: BestTime()"></p>
      </li>
    </ul>
  </div>
</div>

@section scripts {
  @Scripts.Render("~/bundles/Knockout")
  <script src="~/signalr/hubs"></script>

  <script>
    $(function () {

      function LeaguesViewModel() {
        var self = this;
        self.Leagues = ko.observableArray([]);
        self.CurrentRace = ko.observable();

        var race = $.connection.raceHub;

        //Initializes the view model
        self.init = function () {
          race.server.getAllLeagues();
        };

        race.client.getAllLeagues = function (currentLeaderBoards, currentRace) {
          var mappedLeagues = $.map(currentLeaderBoards, function (item) {
            return new League(item);
          });

          self.Leagues(mappedLeagues);
          self.CurrentRace(new CurrentRace(currentRace));
        };

        race.client.updateRace = function (currentRace) {
          self.CurrentRace(new CurrentRace(currentRace));
          var raceStatus = $('#raceStatus');
          if (!currentRace.IsComplete) {
            if (!currentRace.StartTime) {
              raceStatus.html("We have a race!");
            } else {
              raceStatus.html("Race in progress!");
            }
          }
          else {
            raceStatus.html("Race complete!");
          }
        };

        self.getWidth = function () {
          return 100 / self.Leagues().length + '%';
        };
      };

      var vm = new LeaguesViewModel();
      // Start the connection
      $.connection.hub.start(function () { vm.init(); });

      ko.applyBindings(vm);
    });
  </script>
}